{
	"__comment": ["update_delay_t - delay in (s) between two checks of reservation_service; also active the reservation subprocess will be killed after this delay", "max_passed_n - number of sessions that are saved in history being passed", "browser_delay_t - delay in (s) when browser will open prior to registration", "reload_delay_t - delay in (s) between two page reloads after the registration opening", "page_reload_n - maximal number of tries to reload the reservation page"],
	
	"update_delay_t": 35, 
	"max_passed_n": 2, 
	"browser_delay_t": 30, 
	"reload_delay_t": 0.1, 
	"page_reload_n": 10
}